.range {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.range-slider {
    -webkit-appearance: none;
    background: transparent;
    pointer-events: none;
    position: absolute;
    outline: none;
    width: 100%;
    padding: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
    border: 0;
}

.range-slider-container {
    background: #515151;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px;
    position: relative;
    margin: 18px auto;
    border-right: 0;
    border-left: 0;
    color: #ededed;
    height: 6px;
    width: 100%;
    z-index: 1;
}

.range>* {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 100%;
}

.range-slider::-webkit-slider-thumb {
    background: url(../../b2c/images/range-slider-icon.png) center no-repeat,#9b9b9b;
    border-radius: 0;
    border: 0;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    box-sizing: border-box;
    pointer-events: all;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.filter-section-range .range-output {
    -webkit-box-flex: inherit;
    -moz-box-flex: inherit;
    box-flex: inherit;
    -webkit-flex: inherit;
    -moz-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
}

.range-output-max {
    text-align: right;
}

.range-output {
    margin-top: 10px;
    padding: 0 2px;
    flex: 1;
}

.range-output-container {
    display: flex;
    justify-content: space-between;
}